<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "developer"  class="com.cyberlogitec.domain.Developer"/>
    <bean id ="tester" class="com.cyberlogitec.domain.Tester" />

    <bean  id = "office" class="com.cyberlogitec.domain.Office" >
        <property name="developer" ref="developer"/>
        <property name="tester" ref="tester" />
    </bean>
</beans>

